body{

    margin:0;
    padding:0;

    background:#f4f6f8;

    font-family:Arial, Helvetica, sans-serif;

}

.container{

    width:95%;
    max-width:500px;

    margin:auto;

    margin-top:40px;

    text-align:center;

}

h1{

    color:#0F4C81;

}

button{

    padding:15px 25px;

    font-size:18px;

    border:none;

    border-radius:10px;

    cursor:pointer;

    background:#0F4C81;

    color:white;

}

button:hover{

    background:#073763;

}

#reader{

    width:100%;

    margin-top:30px;

}

#result{

    margin-top:25px;

    padding:15px;

    border-radius:10px;

    background:white;

    box-shadow:0px 2px 8px rgba(0,0,0,.1);

    font-size:18px;

    word-wrap:break-word;

}
